<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico?v=1.1">
    <link  href="style.css" rel="stylesheet" />
    <title>Thunder Bank</title>
</head>
<body>
    <%- include('nav') -%>
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Account No.</th>
          <th>Phone No.</th>
          <th>Balance</th>
        </tr>
        
            <% for(var i=0;i<results.length;i++){ %>
                <tr> <td><%= results[i].Name %></td>
                    <td><%= results[i].Email %></td>
                    <td><%= results[i].Account_No %></td>
                    <td><%= results[i].Phone_No %></td>
                    <td><%= results[i].Balance %></td>
                </tr>
                <% } %>
          </tr>
      </table>
</body>
</html>